[![Lab Documentation](https://img.shields.io/badge/Lab%20Documentation-darkgreen)](https://mongodb-developer.github.io/sql-to-query-api-lab/docs/CRUD/INSERT-DELETE)

# CRUD: Delete

In [1]:
# Import the MongoDB Driver
from pymongo import MongoClient

# Set your connection String
uri = "mongodb://admin:mongodb@localhost:27017/"

# Create a MongoDB Client
client = MongoClient(uri)
library_database = client["library"]

# Get the Books Collection
books = library_database["books"]

## Insert one book

We want to make sure this book is in the collection, so we can delete it

In [11]:
books.insert_one({
    "_id": "platero",
    "title": "platero y yo",
    "year": 1900
})

### Find the book using the `_id` field

In [12]:
books.find_one({"_id": "platero"})

{'_id': 'platero', 'title': 'platero y yo', 'year': 1900}

### Delete that book

In [13]:
deleted_book = books.delete_one({"_id": "platero"})

print(deleted_book.deleted_count)

1

## Challenge

### Delete all the reviews for bookId "0786222727" through a single command.

[Solution here](https://mongodb-developer.github.io/sql-to-query-api-lab/docs/CRUD/INSERT-DELETE#-2-delete-all-the-reviews-for-bookid-0786222727-through-a-single-command)

In [14]:
# type your code here